
/* Universal */

* {
    margin: 0px;
    padding: 0px;
    background-color:#edf4ec;
    color: black;
    font-family: 'Space Mono', 'Roboto Condensed' monospace;

}

/* Body */

body {
    
}



/* Header */


/* Main */

main {
               
}



/* About Me */

#signature {
    
}


.about-me {
    font-size:large;
    text-align:right;
}

.about-me .icons {
    height:32px;
    max-width:32px;
}


.about-me .paragraphs {
    text-align:left;
    width:500px;
    margin: 50px auto;
}



/* Portfolio */




/* Footer */

footer {
    position: absolute;
    bottom: 0px;
}

.social-logos {
    width: 32px;
    list-style-type:none;
    display:inline;
    float:right;
    padding: 10px 5px;
    align-content:center;

}

