
/* Universal */

* {
    margin: 0px;
    padding: 0px;
    background-color:#edf4ec;
    color: black;
    font-family: 'Space Mono', 'Roboto Condensed' monospace;

}

/* Body */
/* Header */
/* Main */

/* About Me */

.about-me {
    font-size: large;
    text-align: right;
    padding-right: 25px;
}

.about-me .icons {
    height: 32px;
    max-width: 32px;
}

.about-me .paragraph {
    text-align: left;
    width: 500px;
    height: 90vh;
    margin: 50px auto;
}

/* Portfolio */

/* Footer */

footer {
    position: absolute;
    bottom: 0px;
}

div .social-logos {
    max-width: 32px;
    max-height: 32px;
    list-style-type: none;
    display: inline;
    float: left;
    padding: 10px 5px;
    align-content: center;
}